# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Flask settings
instance/
config.py
*.env

# Logs
*.log
*.log.*
*.out
*.err

# Databases
*.sqlite3
*.db

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.cache
nosetests.xml
coverage/
*.coveragerc

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
